<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <form method="POST" class="post-form" action="/list">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Update Details</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Max Weight:</label>
                <div class="col-sm-4">
                    <div>
						{{ weightRecord.maxWeight }}
					</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Min Weight:</label>
                <div class="col-sm-4">
                    <div>
						{{ weightRecord.minWeight }}
					</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Date:</label>
                <div class="col-sm-4">
                    <div>
						{{ weightRecord.createdAt|date:'Y-m-d' }}
					</div>
                </div>
            </div>
			<div class="form-group row">
                <label class="col-sm-2 col-form-label">Date:</label>
                <div class="col-sm-4">
                    <div>
						{{ difference }}
					</div>
                </div>
            </div>
			 <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-success">Back</button>
                </div>
            </div>
        </div>
    </form>
</body>

</html>